<div id="error" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times" style="font-size:16px;"></span></button>
                <h1 class="text-center">Uh-oh!</h1>
            </div>
            <div class="modal-body">
                {{errorText}}
            </div>
            <div class="modal-footer text-center centered">
                Looks like something went wrong! <br /> 
                Try again!
            </div>
        </div>
    </div>
</div>