<configuration>

    <appender name="APPLICATION-LOG" class="ch.qos.logback.core.FileAppender">
        <file>./BingoDiagnostics.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./backgroundNoise.log</file>
        <append>true</append>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="application" level="ALL" additivity="false">
        <appender-ref ref="APPLICATION-LOG"/>
    </logger>
    <root level="ALL">
        <appender-ref ref="FILE" />
    </root>
</configuration>